<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 여러가지 mapper들이 있을 수 있기 때문에 namespace에 어떤 mapper인지 설정
  	내가 사용할 mapper의 경로를 namespace에 지정
   -->
<mapper namespace="kr.animal.mapper.AdMapper">
 
  <select id="allaniselect"  parameterType="kr.animal.entity.Paging" resultType="kr.animal.entity.Animal">
      select * from animal join animal_img on animal.ani_num = animal_img.aimg_ani_num where ani_num between 250 and 350 limit #{firstRow}, #{rowSizePerPage}
  </select>
  
  <select id="doganiselect"  parameterType="kr.animal.entity.Paging" resultType="kr.animal.entity.Animal">
      select * from animal join animal_img on animal.ani_num = animal_img.aimg_ani_num where (ani_num between 250 and 350) and (ani_livestock='개') limit #{firstRow}, #{rowSizePerPage}
  </select>
  
  <select id="cataniselect"  parameterType="kr.animal.entity.Paging" resultType="kr.animal.entity.Animal">
      select * from animal join animal_img on animal.ani_num = animal_img.aimg_ani_num where (ani_num between 250 and 350) and (ani_livestock='고양이') limit #{firstRow}, #{rowSizePerPage}
  </select>
  
  <select id="selectani" parameterType="kr.animal.entity.Animal"
      resultType="kr.animal.entity.Animal">
      select * from animal join animal_img on animal.ani_num = animal_img.aimg_ani_num where ani_num=#{ani_num}
  </select>
  
  <select id="getTotal" parameterType="kr.animal.entity.Paging" resultType="int">
      select count(*) from animal where ani_num between 250 and 350 
  </select>
  
  <select id="getTotaldog" parameterType="kr.animal.entity.Paging" resultType="int">
      select count(*) from animal where ani_num between 250 and 350 and (ani_livestock='개')
  </select>
  
  <select id="getTotalcat" parameterType="kr.animal.entity.Paging" resultType="int">
      select count(*) from animal where ani_num between 250 and 350 and (ani_livestock='고양이')
  </select>
  
</mapper>