<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 여러가지 mapper들이 있을 수 있기 때문에 namespace에 어떤 mapper인지 설정
  	내가 사용할 mapper의 경로를 namespace에 지정
   -->
<mapper namespace="kr.animal.mapper.CommuMapper">
 
  <select id="allpostselect" resultType="kr.animal.entity.Post">
      select * from post
  </select>
  
  <select id="selectpost" parameterType="kr.animal.entity.Post"
      resultType="kr.animal.entity.Post">
      select * from post where post_num=#{post_num}
  </select>
  
  <select id="allcomselect" parameterType="kr.animal.entity.Post"
      resultType="kr.animal.entity.Comment">
      select * from comment join post on comment.comm_post_num = post.post_num where post_num=#{post_num}
  </select>
  
  <select id="memselect" parameterType="kr.animal.entity.Post"
      resultType="kr.animal.entity.Member">
      select * from member,comment,post where post.post_num = comment.comm_post_num and member.mem_num = comment.comm_mem_num and post_num=#{post_num}
  </select>
  
  <insert id="comsubmit" parameterType="kr.animal.entity.Comment">
     insert into comment(comm_contents,comm_datetime,comm_mem_num,comm_post_num) values(#{comm_contents},now(),#{comm_mem_num},#{comm_post_num})
  </insert>
  
  <insert id="postinsert" parameterType="kr.animal.entity.Post">
     insert into post(post_title,post_contents,post_mem_num,post_cate_code,post_datetime) values(#{post_title},#{post_contents},#{post_mem_num},#{post_cate_code},now())
  </insert>
  
  <delete id="comdelete" parameterType="kr.animal.entity.Comment">
      delete from comment where comm_num=#{comm_num}
  </delete>
  
  <delete id="postdelete" parameterType="kr.animal.entity.Post">
      delete from post where post_num=#{post_num}
  </delete>
  
  <delete id="postcomdelete" parameterType="kr.animal.entity.Post">
      delete from comment where comm_post_num=#{post_num}
  </delete>
  
  <select id="mempostselect" parameterType="kr.animal.entity.Post"
      resultType="kr.animal.entity.Member">
      select * from member,post where post_num=#{post_num}
  </select>
  
</mapper>